.form{
    width: 30%;
}
.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conta{
    background-image: url("http://localhost:3000/img/fon.jpg");
    min-height: 100vh;
}